#!/usr/bin/env bash

set -e

SERVER={{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com
IMAGE=$SERVER/scully:{{ scu_env }}
CONTAINER=scully

docker stop $CONTAINER || true
docker rm $CONTAINER || true
aws ecr get-login-password --region {{ aws_region }} \
    | docker login --username AWS --password-stdin $SERVER
docker pull $IMAGE
API_KEY=$(aws secretsmanager get-secret-value \
    --secret-id scully-{{ scu_env }}-api-key \
    --region {{ aws_region }} \
    --query "SecretString" \
    --output text)
docker run --rm --name $CONTAINER \
    --privileged \
    --device=/dev/asihpi:/dev/asihpi \
    --env SCULLY_STATION_ID=$(hostname) \
    --env SCULLY_API_KEY=$API_KEY \
    $IMAGE \
    /scully/bin/scully eval "AudioTasks.set_audio_mode()"
docker run --rm --name $CONTAINER \
    --device=/dev/asihpi:/dev/asihpi \
    -p 80:4010 \
    --env SCULLY_STATION_ID=$(hostname) \
    --env SCULLY_API_KEY=$API_KEY \
    $IMAGE
