---

- name: Install AudioScience signing key
  ansible.builtin.copy:
    src: audioscience.asc
    dest: /etc/apt/keyrings/audioscience.asc
    mode: "0644"

- name: Ensure AudioScience PPA is present
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/audioscience.asc]
      https://ppa.launchpadcontent.net/audioscience/release/ubuntu jammy main"
    filename: audioscience

- name: Install packages
  ansible.builtin.apt:
    name:
      - asihpi-dkms-4

- name: Configure NTP
  ansible.builtin.copy:
    src: timesyncd.conf
    dest: /etc/systemd/timesyncd.conf
    mode: "0644"
  register: scu_ntp_configuration

- name: Restart timesyncd if NTP change
  ansible.builtin.systemd:
    name: systemd-timesyncd
    daemon-reload: true
    state: restarted
  when: scu_ntp_configuration.changed # noqa: no-handler

- name: Install SSM Agent
  community.general.snap:
    name: amazon-ssm-agent
    classic: true

- name: Check SSM registration
  ansible.builtin.stat:
    path: /var/lib/amazon/ssm/registration
  register: scu_ssm_registration

- name: Stop SSM Agent
  ansible.builtin.systemd_service:
    name: snap.amazon-ssm-agent.amazon-ssm-agent.service
    state: stopped
  when: not scu_ssm_registration.stat.exists

- name: Register SSM Agent
  ansible.builtin.command:
    cmd: >-
      /snap/amazon-ssm-agent/current/amazon-ssm-agent -register
      -code {{ lookup('file', '/root/activation-code') }}
      -id {{ lookup('file', '/root/activation-id') }}
      -region us-east-1
  changed_when: true
  when: not scu_ssm_registration.stat.exists

- name: Start SSM Agent
  ansible.builtin.systemd_service:
    name: snap.amazon-ssm-agent.amazon-ssm-agent.service
    enabled: true
    state: started

- name: Write systemd units
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/systemd/system/{{ item }}"
    mode: "0644"
  loop:
    - scully.service
    - scully-update.service
    - scully-update.timer
    - set-audio-mode.service
    - docker-login.service
    - docker-login-refresh.service
    - docker-login-refresh.timer
  register: scu_systemd_units

- name: Reload systemd units
  ansible.builtin.systemd_service:
    daemon-reload: true
  when: scu_systemd_units.changed # noqa: no-handler

- name: Write scripts
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /root/{{ item }}
    mode: "0755"
  loop:
    - run-scully
    - create-scully-env
    - set-audio-mode
    - docker-login

- name: Stat docker config
  ansible.builtin.stat:
    path: /root/.docker/config.json
  register: scu_docker_config

# Can be removed after this has run on all hosts
- name: Clear old credsStore in docker config
  ansible.builtin.copy:
    content: "{}"
    dest: /root/.docker/config.json
    mode: "0644"
  when: "scu_docker_config.stat.checksum is defined and
    scu_docker_config.stat.checksum == \"83936cf7831f23b197ed3ce272455b0fd41f5707\""

- name: Write docker compose
  ansible.builtin.template:
    src: docker-compose.yaml.j2
    dest: /root/compose.yaml
    mode: "0644"

- name: Enable and start scully
  ansible.builtin.systemd_service:
    name: scully.service
    enabled: true
    state: started
  when: scu_autostart
  loop:
    - scully.service
    - scully-update.timer

- name: Enable and start docker-login
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - docker-login.service
    - docker-login-refresh.timer
