---

- name: Ensure packages are present
  ansible.builtin.apt:
    name:
      - cron
      - ansible

# Can be removed after this has run on all hosts
- name: Remove legacy cron entry
  ansible.builtin.cron:
    name: ansible-pull
    user: root
    state: absent

- name: Write systemd units
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /etc/systemd/system/{{ item }}
    mode: "0644"
  loop:
    - ansible-pull.service
    - ansible-pull.timer

- name: Enable and start ansible-pull timer
  ansible.builtin.systemd_service:
    name: ansible-pull.timer
    enabled: true
    state: started
    daemon-reload: true
