---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Download Falcon sensor
  ansible.builtin.get_url:
    url: "https://{{ s3_config_bucket }}.s3.amazonaws.com/{{ s3_package_prefix }}/{{ crowdstrike_path }}"
    dest: /root/falcon-sensor.deb
    mode: '0644'
    checksum: "sha256:d792dfb2d3252be684bb04b34949a91da5de3ff6f87f672452e8d1a607a7af31"

- name: Install Falcon sensor
  when: ansible_facts.packages['falcon-sensor'] is not defined
  ansible.builtin.apt:
    deb: /root/falcon-sensor.deb

- name: Configure Falcon sensor
  when: ansible_facts.packages['falcon-sensor'] is not defined and crowdstrike_configure_falcon_sensor is true
  register: crowdstrike_configure
  failed_when: crowdstrike_configure.rc > 0 and crowdstrike_configure.rc < 255
  changed_when: crowdstrike_configure.rc == 0
  ansible.builtin.command: /opt/CrowdStrike/falconctl -s --cid={{ crowdstrike_cid | trim | quote }}

- name: Ensure falcon-sensor is running
  when: crowdstrike_configure_falcon_sensor is true
  ansible.builtin.service:
    name: falcon-sensor
    state: started
